body{
    background-color: rgb(6, 1, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,p{
    text-align: center;
}
button{
    background: rgba(68, 44, 59, 0.5);
    color: white;
    width: 40%;
    height: 30px;
    font-size: 1.5em;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    align-content: center;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

#tamanho{
    font-size: 24pt;
}
.container{
    background-color: rgb(107, 128, 150, 0.1);
    color: white;
    margin: 150px auto;
    width: 50%;
    max-width: 420px;
    font-weight: bold;
    padding: 30px;
}