body {
    background-color: #181818;
}

#menu {
    background-color: #202020;
    margin: 90px;
    color: #E4E4E4
}

#teste {
    background-color: #2F2C2C;
}

h1 {
    color: #E4E4E4;
}

h3 {
    color: #E4E4E4;
}