#menu {
    background-color: #202020;
    margin: 90px;
    color: #E4E4E4
}

#teste {
    background-color: #2F2C2C;
}

h1 {
    color: #E4E4E4;
}

h3 {
    color: #E4E4E4;
}

h4 {
    color: #97AAAA;
}

#size {
    width: 225px;
    height: 225px;
}